.vol-entry {
    background-color: #333;
    border-radius: 5px;
    color: white;
}
.vol-entry-fade {
    background-color: #333;
    border-radius: 5px;
    color: white;
}
.vol-entry-fade-enabled {
    background-color: #f34235;
    color: white;
}
.scale-fade-disabled highlight {
    background-color: gray;
}
